:root {
  --backgroundColor: #040c18;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  font-family: "Baloo 2";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}
/* prettier-ignore */
html,
body {
  /* background-color: var(--backgroundColor); */
  width: 100%;
  
  min-height: 100%; 
  /* from #D898FD #ECDBF6 #D898FD */
  /* background-image: linear-gradient(to left top, #d898fd, #dca5fc, #e0b2fb, #e3bffa, #e7cbf8, #e7cbf8, #e7cbf8, #e7cbf8, #e3bffa, #e0b2fb, #dca5fc, #d898fd);   */
  /* background : var(--backgroundColor) */
}
