:root {
  --backgroundColor: #dfc0f1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  font-family: "Baloo 2";
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: var(--backgroundColor);
  width: 100%;
  min-height: 100%;
}
