body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Baloo 2";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.nonedrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
  line-height: 100%;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #a44cd7;
}
.empty-stars:before,
.full-stars:before {
  content: "\2605\   \2605\  \2605\  \2605\  \2605";
  font-size: 16px;
}
.empty-stars:before {
  -webkit-text-stroke: 1px transparent;
}
.full-stars:before {
  -webkit-text-stroke: 1px transparent;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
@-moz-document url-prefix() {
  .full-stars {
    color: #ecbe24;
  }
}
